.browserupgrade {
    margin: 0.2em 0;
    padding: 0.2em 0;
}

html {
  background-color: #F8F8FF;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

p {
  font-family: 'Eczar', serif;
}

/* NAVIGATION MOBILE*/
.nav {
    list-style-type: none;
    margin: 10px 15px 0px 15px;
    padding: 25px 0 0 0;
    border-style: solid;
    border-width: 0 5px 0 0;
    min-height: 87vh;
    position: fixed;
    top: 30px;
    z-index: 50;
    font-family: 'Eczar', serif;
    font-weight: 600;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 4;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

/* MAIN MOBILE */
.content-first {
  text-align: center;
  margin-left: 125px;
  margin-right: 25px;
  font-size: 1.5em;
}

.content-second {
  margin-left: 125px;
  margin-right: 25px;
  font-size: 1.5em;
  padding: 0 15% 0 15%;
}

.content-third {
  margin-left: 125px;
  margin-right: 25px;
  font-size: 1.5em;
  padding: 0 15% 0 15%;
}

.content-fourth {
  margin-left: 125px;
  margin-right: 25px;
  font-size: 1.5em;
  padding: 0 15% 0 15%;
}

.content-list {
  font-weight: 600;
}

.hero-first {
  background: url("../img/first.jpeg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  min-height: 95vh;
  margin: 20px 15px 0px 15px;
  display: flex;
  justify-content: center; /* horizontal align */
  align-items: center; /* vertical align */
}

.hero-second {
  background-color: #6699ff;
  position: relative;
  min-height: 90vh;
  margin: 40px 15px 0px 15px;
  padding-top: 40px;
  display: flex;
  justify-content: center; /* horizontal align */
}

.img-second {
  display: block;
  margin: auto;
  width:40vw;
}

.hero-third {
  background: linear-gradient(
    rgba(0,0,0, 0.2),
    rgba(0,0,0, 0.2)
    ), url("../img/service.jpeg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  min-height: 90vh;
  margin: 40px 15px 0px 15px;
  padding-top: 40px;
  display: flex;
  justify-content: center; /* horizontal align */
}

.hero-fourth {
  background-color: #F5EDE3;
  position: relative;
  min-height: 90vh;
  margin: 40px 15px 0px 15px;
  padding-top: 40px;
  display: flex;
  justify-content: center; /* horizontal align */
}

.footer {
  margin-top: 40px;
  display: flex;
  justify-content: center; /* horizontal align */
  align-items: center; /* vertical align */
}

/* CONTACT FORM */
.placeholder {
  font-family: 'Eczar', serif;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #154890;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #6699FF;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #154890;
}

.container {
    border-radius: 5px;
    background-color: #F5EDE3	;
    padding: 20px;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* MEDIA QUERIES - FOR MOBILE */

@media only screen and (max-width: 500px) {

  /* NAVIGATION MOBILE */
  .nav {
    display: none;
  }

  /* MAIN MOBILE */
  .content-first {
    margin: auto;
    text-align: center;
    font-size: 1.5em;
  }

  .content-second {
    margin: auto;
    font-size: 1.5em;
    padding: 0 15% 0 15%;
  }

  .content-third {
    margin: auto;
    font-size: 1.5em;
    padding: 0 15% 0 15%;
  }

  .content-fourth {
    margin: auto;
    font-size: 1.5em;
    padding: 0 15% 0 15%;
  }

  .content-list {
    font-weight: 600;
  }

  .hero-first {
    background: url("../img/first.jpeg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    min-height: 95vh;
    margin: 20px 15px 0px 15px;
    display: flex;
    justify-content: center; /* horizontal align */
    align-items: center; /* vertical align */
  }

  .hero-second {
    background-color: #6699ff;
    position: relative;
    min-height: 90vh;
    margin: 40px 15px 0px 15px;
    padding-top: 40px;
    display: flex;
    justify-content: center; /* horizontal align */
  }

  .img-second {
    display: block;
    margin: auto;
    width: 100%;
  }

  .hero-third {
    background-image: url("../img/service.jpeg");
    background-size: cover;
    background-position: 80% 50%;
    position: relative;
    min-height: 90vh;
    margin: 40px 15px 0px 15px;
    padding-top: 40px;
    display: flex;
    justify-content: center; /* horizontal align */
  }

  .hero-fourth {
    background-color: #F5EDE3;
    position: relative;
    min-height: 90vh;
    margin: 40px 15px 0px 15px;
    padding-top: 40px;
    display: flex;
    justify-content: center; /* horizontal align */
  }

  .footer {
    margin-top: 40px;
    display: flex;
    justify-content: center; /* horizontal align */
    align-items: center; /* vertical align */
  }

  /* CONTACT FORM */
  .placeholder {
    font-family: 'Eczar', serif;
  }

  input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #154890;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
  }

  input[type=submit] {
      background-color: #6699FF;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  input[type=submit]:hover {
      background-color: #154890;
  }

  .container {
      border-radius: 5px;
      background-color: #F5EDE3	;
      padding: 20px;
  }

  /* ===============
      ALL: IE Fixes
     =============== */

  .ie7 .title {
      padding-top: 20px;
  }


/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}
